<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="LOG_HOME" value="../logs"/>
    <property name="APP_NAME" value="2019-nCov"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger Line:%-3L %X{X-B3-TraceId:-} - %msg%n"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p%X{userFlagKey} %date %c{1}:%L-%m%n</pattern>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${LOG_HOME}/${APP_NAME}_%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <MaxHistory>1</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%p%X{userFlagKey} %date %c{1}:%L-%m%n</pattern>
        </layout>
    </appender>

    <!--业务中业务处理细节的log-->
    <appender name="SYS_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <!--过滤器,只打INFO级别的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/stdout.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder charset="UTF-8">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <!--业务系统中error级别的log-->
    <appender name="SYS_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder charset="UTF-8">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <!-- 设置Spring&Hibernate日志输出级别 -->
    <logger name="org.springframework">
        <level value="info"/>
    </logger>
    <logger name="org.apache.axis.ConfigurationException">
        <level value="INFO"/>
    </logger>
    <logger name="org.springframework.kafka">
        <level value="info"/>
    </logger>
    <logger name="org.springframework.scheduling">
        <level value="info"/>
    </logger>
    <logger name="org.mybatis">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.http">
        <level value="WARN"/>
    </logger>
    
    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
        <appender-ref ref="SYS_INFO"/>
        <appender-ref ref="SYS_ERROR"/>
    </root>
</configuration>
